.card{
     border-radius:10px !important ;
}

.col-lg-12{
   justify-content: center;
}
main{
   padding-top: 66px;
  
   background-color: rgba(0, 0, 0, 0.15)
}
li{

padding-left: 270px;
}
h1{
   text-align: center;
}
ul{
  
   list-style-type: none;
}
p{
   text-align: center;

}
h3{
   text-align: center;
}
head{
   padding:60px;
}  

.container-fluid{
   padding-inline:60px;
}